/* coustard-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Coustard';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/coustard-v16-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/coustard-v16-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* coustard-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Coustard';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/coustard-v16-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/coustard-v16-latin-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
  font-size: calc(1vw + 0.9em);
  color: rgb(82, 82, 82);
}
* {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}  
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color:rgb(255, 242, 222);
  font-family: 'Coustard';
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
header, footer {
  height: 3.5rem;
  width: 100%;
  background-image: url('../assets/img/galaxy.jpg');
  background-size: cover;
  background-position: center;
}
label {cursor: pointer;}
.project-logo {
  height: 1.7rem;
  margin: auto 7vw;
  background-image:  url('../assets/img/css-bayan.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  border-bottom: 0.1rem solid rgb(255, 206, 120);
}
footer {
  display: flex;
  align-items: center;  
  justify-content: space-between;
  padding-right: 7vw;
  padding-left: 7vw;
}
footer > p {
  display: flex;
  align-items: center;
  height: 1.8rem;
}
.github-link, .rss-link {
  height: 1.8rem;
  background-size: contain;
}
.github-link:hover,
.rss-link:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
footer > p > span {
  margin-left: 4vw;
  color: rgb(255, 206, 120);  
}

/*!-- Accardeon --*/

.accardeon__wrapper {
  width: 100%;
  max-width: 17rem;
  margin: 1.5rem;
}
.accardeon__item {
  width: 100%;
  margin-bottom: 0.2rem;
}
#first, #second, #third, #fourth, #fifth, #sixth {display: none;}
.accardeon__item__title {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.3rem;
  background-color:rgb(255, 217, 160);
}
.icon {
  height: 0.8rem;
  width: 0.8rem;
  background-image: url('../assets/img/chevron-down-solid.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: .2s;
}
.accardeon__item__content {
  display: block;
  height: 0;
  width: 100%;
  transition: height .5s;
}
#first:checked ~ label > .icon,
#second:checked ~ label > .icon,
#third:checked ~ label > .icon,
#fourth:checked ~ label > .icon,
#fifth:checked ~ label > .icon,
#sixth:checked ~ label > .icon {
  background-image: url('../assets/img/chevron-up-solid.svg');
  transition: .2s;
}
#first:checked ~ .accardeon__item__content,
#second:checked ~ .accardeon__item__content,
#third:checked ~ .accardeon__item__content,
#fourth:checked ~ .accardeon__item__content,
#fifth:checked ~ .accardeon__item__content,
#sixth:checked ~ .accardeon__item__content {  
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#first:checked ~ .accardeon__item__content {
  background-image: url('../assets/img/first-mem.jpg');
}
#second:checked ~ .accardeon__item__content {
  background-image: url('../assets/img/second-mem.jpg');
}
#third:checked ~ .accardeon__item__content {
  background-image: url('../assets/img/third-mem.jpg');
}
#fourth:checked ~ .accardeon__item__content {
  background-image: url('../assets/img/fourth-mem.jpg');
}
#fifth:checked ~ .accardeon__item__content {
  background-image: url('../assets/img/fifth-mem.jpg');
}
#sixth:checked ~ .accardeon__item__content {  
  background-image: url('../assets/img/sixth-mem.jpg');
}